.container{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}

.curl-heading{
    width: 100%;
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 30px;
    color: rgb(59, 55, 107);
    text-align: center;
    overflow: hidden; 
}

.instruction-text{
    justify-content: center;
    text-align:justify;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    line-height: 40px;
    width: 60%;
}